---
layout: default
title: Archive
permalink: /archive/
---

<div class="archive">
  <h1>Archive</h1>
  {% assign posts_by_year = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}
  {% for year in posts_by_year %}
    <h2>{{ year.name }}</h2>
    <ul>
      {% for post in year.items %}
        <li>
          <a href="{{ post.url }}" class="archive-post-title">{{ post.title }}</a> 
          <span class="archive-post-date">
            ( {{ post.date | date: "%B %d" }} )
          </span>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
</div>
