---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span> • <a class="post-tags-index" href="#">{{ post.tags | first | strip | upcase }} </a>

    {{ post.content | truncate: 200 }}
  </div>
  <hr>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path }}">&lt; Older</a>
  {% else %}
    <span class="pagination-item older">&lt; Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path }}">Newer &gt;</a>
  {% else %}
    <span class="pagination-item newer">Newer &gt;</span>
  {% endif %}
</div>
